# ======================================================
# Python
# ======================================================

__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environment
# ======================================================

.venv/
venv/
env/


# Environment / Secrets
.env
.env.*
!.env.example

backend/.env
backend/.env.*
!backend/.env.example

# ======================================================
# Environment Variables
# ======================================================

.env

# ======================================================
# IDE
# ======================================================

.vscode/
.idea/

# ======================================================
# Python Tooling
# ======================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ======================================================
# Build
# ======================================================

build/
dist/
*.egg-info/

# ======================================================
# Logs
# ======================================================

logs/
*.log

# ======================================================
# Uploads & Storage
# ======================================================

uploads/*
storage/*

!uploads/.gitkeep
!storage/.gitkeep

# ======================================================
# OS Files
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# Jupyter
# ======================================================

.ipynb_checkpoints/

# ======================================================
# Local Database
# ======================================================

*.db
*.sqlite3

test_docker.txt